@using Microsoft.AspNetCore.Components

@*<div class="top-row pl-4 navbar navbar-dark">@*  *@

@*<img style="height: 100%; width: 100%; object-fit: contain" src="/css/brand.png" />
    <button class="navbar-toggler bg-secondary" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>*@
<div style="width:auto;height:25px">

</div>
<div class="container" style="
        text-align: center;
        align-items: center;
        justify-content: center;
        display:  flex;
        width: 160px;
        height: 100px;">

    <Figure Size="FigureSize.Is96x96" class="text-center">
        <FigureImage Source="/css/brand.png" AlternateText="128x128" Style="text-align:center" />
    </Figure>

</div>

<MatNavMenu>
    <MatNavItem Href="/">
        <MatIcon Icon="home"></MatIcon> Home
    </MatNavItem>

    <MatNavSubMenu @bind-Expanded="@navSubMenuOpenState">
        <MatNavSubMenuHeader>
            <MatNavItem AllowSelection="false"><MatIcon Icon="domain"></MatIcon> VPN</MatNavItem>
        </MatNavSubMenuHeader>
        <MatNavSubMenuList>
            <MatNavItem Href="/VpnCustomers"><MatIcon Icon="list"></MatIcon>Customers</MatNavItem>

            <AuthorizeView>
                <Authorized>
                    @if (@context.User.IsInRole(ADMINISTRATION_ROLE))
                    {
                        <MatNavItem Href="/VpnCustomers/addCustomer"><MatIcon Icon="person_add"></MatIcon> Add VPN Customer</MatNavItem>
                    }
                </Authorized>
            </AuthorizeView>
        </MatNavSubMenuList>
    </MatNavSubMenu>
    <MatNavSubMenu @bind-Expanded="@apnNavOpenState">
        <MatNavSubMenuHeader>
            <MatNavItem AllowSelection="false"><MatIcon Icon="sim_card"></MatIcon> APN</MatNavItem>
        </MatNavSubMenuHeader>
        <MatNavSubMenuList>
            <MatNavItem Href="/ApnCustomers"><MatIcon Icon="list"></MatIcon>Customers</MatNavItem>

            <AuthorizeView>
                <Authorized>
                    @if (@context.User.IsInRole(ADMINISTRATION_ROLE))
                    {
                        <MatNavItem Href="/ApnCustomers/addCustomer"><MatIcon Icon="person_add"></MatIcon> Add Customer</MatNavItem>
                    }
                </Authorized>
            </AuthorizeView>
        </MatNavSubMenuList>
    </MatNavSubMenu>
    <MatNavSubMenu @bind-Expanded="@IntrNavOpenState">
        <MatNavSubMenuHeader>
            <MatNavItem AllowSelection="false"><MatIcon Icon="device_hub"></MatIcon>Intranet</MatNavItem>
        </MatNavSubMenuHeader>
        <MatNavSubMenuList>
            <MatNavItem Href="IntranetCustomers"><MatIcon Icon="list"></MatIcon>Customers</MatNavItem>

            <AuthorizeView>
                <Authorized>
                    @if (@context.User.IsInRole(ADMINISTRATION_ROLE))
                    {
                        <MatNavItem Href="IntranetCustomers/addCustomer"><MatIcon Icon="person_add"></MatIcon> Add Customer</MatNavItem>
                    }
                </Authorized>
            </AuthorizeView>
        </MatNavSubMenuList>
    </MatNavSubMenu>
    <MatNavSubMenu @bind-Expanded="@TANavOpenState">
        <MatNavSubMenuHeader>
            <MatNavItem AllowSelection="false"><MatIcon Icon="nature_people"></MatIcon> TA</MatNavItem>
        </MatNavSubMenuHeader>
        <MatNavSubMenuList>
            <MatNavItem Href="/Coordinators"><MatIcon Icon="list"></MatIcon>Coordinator</MatNavItem>

            <AuthorizeView>
                <Authorized>
                    @if (@context.User.IsInRole(ADMINISTRATION_ROLE))
                    {
                        <MatNavItem Href="/addTA"><MatIcon Icon="person_add"></MatIcon> Add Coordinator</MatNavItem>
                    }
                </Authorized>
            </AuthorizeView>
        </MatNavSubMenuList>
    </MatNavSubMenu>
    <MatNavItem Href="/cpeinfo">
        <MatIcon Icon="router"></MatIcon> CPE Models
    </MatNavItem>
    <MatNavItem Href="/administration">
        <MatIcon Icon="settings"></MatIcon> Administration
    </MatNavItem>
    <MatNavItem Href="/_login">
        <MatIcon Icon="login"></MatIcon>New Login demo 
    </MatNavItem>
</MatNavMenu>


@code {


    string ADMINISTRATION_ROLE = "Administrators";
    private bool collapseNavMenu = true;
    private bool expandSubNav;
    [Inject] IJSRuntime JS { get; set; }

    bool navSubMenuOpenState; bool apnNavOpenState; bool IntrNavOpenState;bool TANavOpenState;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    async Task ClickMe()
    {
        Console.WriteLine("test");
        await JS.InvokeAsync<object>("alert", "Successful OnClick!");
    }

}
