@page "/IntranetCustomers"
@inject EcsDataManager.EFContracts.ICRUDManager<EcsDataManager.Entities.IntranetCustomers> CustomerManager
@using EcsDataManager.Entities
@inject NavigationManager NavigationManager
@inject HttpClient Http
@using Microsoft.JSInterop
    @*<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">*@
<div class="row">
    <h3 class="container-fluid">
        Intranet Customers
    </h3>
</div>
<br />
<div>
    <div class="row">
        @*<button class="btn btn-success" @onclick="@(() => Modal.Show<addVpnCustomer>("Add customer"))">Add Customer</button>*@
        <div class="col-md-2 float-left"><button class="btn btn-success" @onclick="@(()=> GoToAddApnCustomer())">Add Customer</button></div>
        @*<div class="col-md-6 float-right">
                <div class="dropdown">
                    <button data-toggle="dropdown" class="btn btn-success">Export</button>
                    <div class="dropdown-menu">
                        Excel
                    </div>
                </div>
            </div>*@
    </div>
</div>
<br />

@if (_customerModel == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <div class="float-left">
        <input type="text" id="txtSearch" placeholder="Search Customer name..." class="form-control" @bind="SearchTerm" @bind:event="oninput"  />

    </div>
    <br />
    <br />
    <div>
        <DataGrid TItem="EcsDataManager.Entities.IntranetCustomers"
                  Data="@_customerModel"
                  ReadData="@OnReadData"
                  TotalItems="@totalcustomers" Hoverable="true" SelectedRowStyling="@OnSelectedRowStyling" Editable="true" Sortable="true" Striped="true">
            @*<DataGridColumn TItem="Customers" Field="@nameof(IntranetCustomers.RowNumber)" Caption="#" />*@
            <DataGridColumn TItem="EcsDataManager.Entities.IntranetCustomers" Field="@nameof(EcsDataManager.Entities.IntranetCustomers.CustomerName)" Caption="Customer Name" Sortable="true" />
            <DataGridColumn TItem="EcsDataManager.Entities.IntranetCustomers" Field="@nameof(EcsDataManager.Entities.IntranetCustomers.OwnerTeam)" Caption="Owner Team" />
            <DataGridColumn TItem="EcsDataManager.Entities.IntranetCustomers" Field="@nameof(EcsDataManager.Entities.IntranetCustomers.ServiceType)" Caption="Service Type" />
            <DataGridColumn TItem="EcsDataManager.Entities.IntranetCustomers" Field="@nameof(EcsDataManager.Entities.IntranetCustomers.AccountManager)" Caption="Account Manager" />
            <DataGridColumn TItem="EcsDataManager.Entities.IntranetCustomers" Field="@nameof(EcsDataManager.Entities.IntranetCustomers.Id)" Caption="Action">
                <DisplayTemplate>
                    <Button Color="Color.Success" Clicked="async() => ShowCustomerDetail(context.Id).ConfigureAwait(true)">Detail</Button>
                </DisplayTemplate>
            </DataGridColumn>

        </DataGrid>
    </div>


}


@code {

    int endPage;
    private string searchTerm;
    private string SearchTerm
    {
        get { return searchTerm; }
        set { searchTerm = value;     CustomerFilteringList(searchTerm, "CustomerName"); }
    }



    List<EcsDataManager.Entities.IntranetCustomers> _customerModel = new List<EcsDataManager.Entities.IntranetCustomers>();
    EcsDataManager.Entities.IntranetCustomers _customerEntity = new EcsDataManager.Entities.IntranetCustomers();


    protected override async Task OnInitializedAsync()
    {
        _customerModel = await CustomerManager.GetAll();


    }
    protected async Task GoToAddApnCustomer()
    {
        NavigationManager.NavigateTo("IntranetCustomers/addCustomer", true);
    }
    void OnSelectedRowStyling(EcsDataManager.Entities.IntranetCustomers employee, DataGridRowStyling styling)
    {
        styling.Background = Background.Transparent;
    }
    string errorStr;
    protected async Task ShowCustomerDetail(int id)
    {

        _customerEntity = await CustomerManager?.Get(id);
        try
        {
            NavigationManager.NavigateTo($"IntranetCustomers/Customer/{id}", true);
            errorStr = null;

        }
        catch (Exception ex)
        {

            errorStr = ex.Message;
        }
    }

    int totalcustomers;
    async Task OnReadData(DataGridReadDataEventArgs<EcsDataManager.Entities.IntranetCustomers> e)
    {
        // this can be call to anything, in this case we're calling a fictional api
        // var response = await Http.GetJsonAsync<Customers[]>($"some-api/Customerss?page={e.Page}&pageSize={e.PageSize}");

        _customerModel = await CustomerManager?.GetAll();
        totalcustomers = _customerModel.Count();

        // always call StateHasChanged!
        StateHasChanged();
    }
    public void FilterRecords()
    {
        endPage = 0;
        this.OnInitializedAsync().Wait();
    }
    protected async Task OnCsmNameChanged()
    {
        string values = SearchTerm;
        await CustomerFilteringList(values, "CustomerName");
    }
    protected async Task CustomerFilteringList(String Value, string columnName)
    {
        _customerModel = await CustomerManager?.GetAll();

        if (Value.Trim().Length > 0)
        {
            switch (columnName)
            {
                case "CustomerName":
                    _customerModel = _customerModel.Where(x => x.CustomerName.IndexOf(Value, StringComparison.OrdinalIgnoreCase) != -1).ToList();
                    break;

                default:
                    _customerModel = await CustomerManager.GetAll();
                    break;
            }
        }
        else
        {
            _customerModel = await CustomerManager?.GetAll();
        }
    }

}
