@page "/IntranetCustomers/EditCustomer/{customerID:int}"
@using EcsDataManager.EFContracts
@using EcsDataManager.Entities
@inject ICRUDManager<IntranetCustomers> CustomersManager
@inject NavigationManager NavigationManager
 


<style type="text/css">
    .simple-form {
    }
</style>
<!--<div>-->
@if (string.IsNullOrWhiteSpace(errorstring) == false)
{
    <Card>
        <div class="h4">
            <dfn>@errorstring</dfn>
        </div>
    </Card>
}
else if (_customerEntity is null)
{
    <div class="h4">
        <dfn>Loading ...</dfn>
    </div>
}
else
{
    <Card>
        <div class="simple-form">
            <EditForm Model="@_customerEntity" OnValidSubmit="@(async () => await UpdateCustomers(CustomerID))">
                <DataAnnotationsValidator />
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-md-6">
                            <label for="CustomerName">Customer Name</label>
                            <input class="form-control" @bind-value="@_customerEntity.CustomerName" id="CustomerName" />
                            <label for="Tel">Tell</label>
                            <input class="form-control" @bind-value="@_customerEntity.Tell" id="Tel" />
                        </div>
                        <div class="col-md-6">
                            <label for="Mobile">Mobile</label>
                            <input class="form-control" @bind-value="@_customerEntity.Mobile" id="Mobile" />
                            <label for="Mobile">@nameof(_customerEntity.OwnerTeam)</label>
                            <input class="form-control" @bind-value="@_customerEntity.OwnerTeam" id="OwnerTeam" />
                            <label>Account Manager</label>
                            <input class="form-control" @bind-value="@_customerEntity.AcountManager" id="OwnerTeam" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="CustomerName">Service Type</label>
                            <input class="form-control" @bind-value="@_customerEntity.ServiceType" id="NumberOfSimCard" />
                            <label for="Tel">Ip Range</label>
                            <input class="form-control" @bind-value="@_customerEntity.IpRange" id="AccessList" />
                        </div>
                       
                    </div>

                    <input type="hidden" @bind-value="@_customerEntity.Id" />
                </div>
                <div>

                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>

                    <button type="button" class="btn btn-danger" @onclick="Cancel">Cancel</button>
                </div>
            </EditForm>
        </div>
    </Card>
}

@code  {

    [Parameter] public int CustomerID { get; set; }

    IntranetCustomers _customerModel;
    IntranetCustomers _customerEntity = new IntranetCustomers();
    string errorstring;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            _customerEntity = await CustomersManager?.Get(CustomerID);
            errorstring = null;
        }
        catch (Exception ex)
        {

            errorstring = ex.Message;
        }


    }


    protected async Task UpdateCustomers(int id)
    {
        if (_customerEntity != null)
        {
              CustomersManager.Change(_customerModel,_customerEntity);
            NavigationManager.NavigateTo("/IntranetCustomers/Customer" + "/" + CustomerID, true);
        }


    }

    async Task Cancel()
    {
        NavigationManager.NavigateTo("/IntranetCustomers/customer" + "/" + CustomerID);
    }

    void Reset()
    {

    }
}
