@attribute [Authorize]
@page "/ApnCustomers/addCustomer"
@using EcsDataManager.EFContracts
@using EcsDataManager.Entities
@inject ICRUDManager<ApnCustomers> customerManager
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

<Alert Color="Color.Success" @ref="Success">
    <AlertMessage>Well done!</AlertMessage>
    <AlertDescription>You successfully add a customer.</AlertDescription>
</Alert>
<Snackbar @ref="snackbar">
    <SnackbarBody>
        Single line of text directly related to the operation performed
    </SnackbarBody>
</Snackbar>
<div style="width:auto;height:80px">
    <h2>Add APN Customer Table</h2>
</div>
<div class="container-fluid" style=";position: relative; display: table; overflow-y: auto; overflow-x: auto; width: auto; min-width: 300px; float:left">
    <div class="container">
        <EditForm Model="@_customer" OnValidSubmit="() => CreateCustomer()">
            <DataAnnotationsValidator />
            <div class="row">
                <div class="col-md-5">
                    <label>Customer Name</label>
                </div>
                <div class="col-md-7">
                    <InputText style="width:100%" @bind-Value="@_customer.CustomerName" />
                    <ValidationMessage For="@(()=>_customer.CustomerName)" />
                </div>

                <div class="col-md-5">
                    <label>Tel</label>
                </div>
                <div class="col-md-7">
                    <InputText style="width:100%" @bind-Value="@_customer.Tell" />
                    <ValidationMessage For="@(()=>_customer.Tell)" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label>Mobile</label>
                </div>
                <div class="col-md-7">
                    <InputText style="width:100%" @bind-Value="@_customer.Mobile" />
                    <ValidationMessage For="@(()=>_customer.Mobile)" />
                </div>

                <div class="col-md-5">
                    <label>Owner Team</label>
                </div>
                <div class="col-md-7">
                    <InputText style="width:100%" @bind-Value="@_customer.OwnerTeam" />
                    <ValidationMessage For="@(()=>_customer.OwnerTeam)" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label>Account Manager</label>
                </div>
                <div class="col-md-7">
                    <InputText style="width:100%" @bind-Value="@_customer.AccountManager" />
                    <ValidationMessage For="@(()=>_customer.AccountManager)" />
                </div>

            </div>
            <div class="row">
                <div class="col-md-5">
                    <label>Wan Ip Range</label>
                </div>
                <div class="col-md-7">
                    <InputText style="width:100%" @bind-Value="@_customer.WanIpRange" />
                    <ValidationMessage For="@(()=>_customer.WanIpRange)" />
                </div>

                <div class="col-md-5">
                    <label>Access List</label>
                </div>
                <div class="col-md-7">
                    <InputText style="width:100%" @bind-Value="@_customer.AccessList" />
                    <ValidationMessage For="@(()=>_customer.AccessList)" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label>Number Of Sim Card</label>
                </div>
                <div class="col-md-7">
                    <InputNumber style="width:100%" @bind-Value="@_customer.NumberOfSimCard" />
                    <ValidationMessage For="@(()=>_customer.NumberOfSimCard)" />
                </div>

            </div>

            <div class="row">

                <div class="col-md-5">
                    <label>Comment</label>
                </div>
                <div class="col-md-7">
                    <input style="width:100%" @bind-value="@_customer.Comment" />

                </div>
            </div>
            <div class="row">
                <input style="width:100%" type="hidden" @bind-value="@_customer.Id" />
            </div>

            <div class="row">
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-danger" @onclick="() => Cancel()">Cancel</button>
                </div>
            </div>
        </EditForm>
    </div>


</div>


@code {

    [CascadingParameter] public IModalService Modal { get; set; }
    List<ApnCustomers> Customers = new List<ApnCustomers>();
    ApnCustomers _customer = new ApnCustomers();

    Alert Success;
    Snackbar snackbar;

    string error;
    protected async Task CreateCustomer()
    {
        try
        {
            customerManager.Add(_customer);
            error = null;

            navigationManager.NavigateTo($@"/ApnCustomers", true);
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }

    }

    void Cancel()
    {
        navigationManager.NavigateTo("ApnCustomers");
    }
}
