@page "/addCustomer"
@using EcsDataManager.Contracts
@using EcsDataManager.Entities
@inject IDeviceManager DeviceManager
@inject ICustomersManager customerManager
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
<Alert Color="Color.Success" @ref="Success">
    <AlertMessage>Well done!</AlertMessage>
    <AlertDescription>You successfully add a customer.</AlertDescription>
</Alert>
<Snackbar @ref="snackbar">
    <SnackbarBody>
        Single line of text directly related to the operation performed
    </SnackbarBody>
</Snackbar>
<div style="width:auto;height:80px">
    <h2>Add Customer Table</h2>
</div>
<div class="container-fluid" style="position: relative; display: table; overflow-y: auto; overflow-x: auto; width: auto; min-width: 300px; float:left">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <label>Customer Name</label>
            </div>
            <div class="col-md-7">
                <input style="width:100%" @bind-value="@_customer.CustomerName" dir="ltr" />
            </div>

            <div class="col-md-5">
                <label>Tel</label>
            </div>
            <div class="col-md-7">
                <input style="width:100%" @bind-value="@_customer.Tel" dir="ltr" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label>Mobile</label>
            </div>
            <div class="col-md-7">
                <input style="width:100%" @bind-value="@_customer.Mobile" dir="ltr" />
            </div>

            <div class="col-md-5">
                <label>Owner Team</label>
            </div>
            <div class="col-md-7">
                <input style="width:100%" @bind-value="@_customer.OwnerTeam" dir="ltr" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label>Service Type</label>
            </div>
            <div class="col-md-7">
                <input style="width:100%" @bind-value="@_customer.ServiceType" dir="ltr" />
            </div>

            <div class="col-md-5">
                <label>Service Topology</label>
            </div>
            <div class="col-md-7">
                <input style="width:100%" @bind-value="@_customer.ServiceTopology"             dir="ltr"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label>Account Manager</label>
            </div>
            <div class="col-md-7">
                <input style="width:100%" @bind-value="@_customer.AccountManager"             dir="ltr"/>
            </div>

            <div class="col-md-5">
                <label>IpHQ</label>
            </div>
            <div class="col-md-7">
                <input style="width:100%" @bind-value="@_customer.IpHQ"             dir="ltr"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label>AAAGroup</label>
            </div>
            <div class="col-md-7">
                <input style="width:100%" @bind-value="@_customer.AAAGroup"             dir="ltr"/>
            </div>

            <div class="col-md-5">
                <label>Ip Tunnel</label>
            </div>
            <div class="col-md-7">
                <input style="width:100%" @bind-value="@_customer.IpTunnel"             dir="ltr"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label>Wan Ip Range</label>
            </div>
            <div class="col-md-7">
                <input style="width:100%" @bind-value="@_customer.WanIpRange"            dir="ltr" />
            </div>

            <div class="col-md-5">
                <label>Lan Ip Range</label>
            </div>
            <div class="col-md-7">
                <input style="width:100%" @bind-value="@_customer.LanIpRange"            dir="ltr" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label>VRF</label>
            </div>
            <div class="col-md-7">
                <input style="width:100%" @bind-value="@_customer.VRF"            dir="ltr" />
            </div>

            <div class="col-md-5">
                <label>Vpn Tools Name</label>
            </div>
            <div class="col-md-7">
                <input style="width:100%" @bind-value="@_customer.VpnToolsName"             dir="ltr"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label>APN</label>
            </div>
            <div class="col-md-7">
                <input style="width:100%" @bind-value="@_customer.APN"             dir="ltr"/>
            </div>
            <div class="col-md-5">
                <label>Comment</label>
            </div>
            <div class="col-md-7">
                <input style="width:100%" @bind-value="@_customer.Comment"             dir="ltr"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label>Radio  Name</label>
            </div>
            <div class="col-md-7">
                <input style="width:100%" @bind-value="@_devices.RadioName"            dir="ltr" />
            </div>

            <div class="col-md-5">
                <label> Radio IP</label>
            </div>
            <div class="col-md-7">
                <input style="width:100%" @bind-value="@_devices.RadioIp"             dir="ltr"/>
            </div>



        </div>
        <div class="row">
            <div class="col-md-5">
                <label> Radio Model</label>
            </div>
            <div class="col-md-7">
                <input style="width:100%" @bind-value="@_devices.RadioModel"            dir="ltr" />
            </div>

            <div class="col-md-5">
                <label> Radio Metro Site</label>
            </div>
            <div class="col-md-7">
                <input style="width:100%" @bind-value="@_devices.RadioMetroSite"             dir="ltr"/>
            </div>


        </div>
        <div class="row">

            <input style="width:100%" type="hidden" @bind-value="@_customer.id" />
        </div>
        <div class="row">
            <div class="col-md-1">
                <button type="button" class="btn btn-primary" @onclick="() => CreateCustomer()">Save</button>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-danger" @onclick="() => Cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>


@code {

    [CascadingParameter] public IModalService Modal { get; set; }
    List<Customers> Customers = new List<Customers>();
    Customers _customer = new Customers();
    DeviceList _devices = new DeviceList();

    Alert Success;
    Snackbar snackbar;


    protected async Task CreateCustomer()
    {
        var customerState = await customerManager.Create(_customer);



        if (customerState != 0)
        {
            _devices.CustomerId = customerState;
            var deviceState = await DeviceManager.AddDevice(_devices,1);
            navigationManager.NavigateTo($@"/customerlist", true);
            snackbar.Show();
        }
        else
        {
            navigationManager.NavigateTo($@"/Error", true);
        }


    }

    void Cancel()
    {
        navigationManager.NavigateTo("/customerlist");
    }
}
