@*@page "/customer"*@
@page "/customer/{customerID:int}"
@using EcsDataManager.Contracts
@using EcsDataManager.Entities
@inject ICustomersManager CustomerManager
@inject ICustomerUrlManager CUrlManager
@inject IDeviceManager DeviceManager
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime



<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="~/_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />



@if (string.IsNullOrWhiteSpace(errorString) == false)
{
    <div class="h4">
        @errorString
    </div>
}
else if (_customerEntity is null)
{
    <div class="h4"><em>Loading...</em></div>
    <p style="white-space: pre-line"> </p>
}
else
{
    <div class="container-fluid">
        <div>
            @*ShowAddDevice(_customerEntity.id) OpenAddDevice()*@


            <AuthorizeView>
                <Authorized>
                    @if (@context.User.IsInRole(ADMINISTRATION_ROLE))
                    {
                        <button @onclick="async() => ShowEditCustomer(_customerEntity.id).ConfigureAwait(true)" class="btn btn-primary">Edit</button>
                        <button @onclick="async() =>  ShowAddDevice(_customerEntity.id)" class="btn btn-success">Add Device</button>
                        <button @onclick="async() => Deletecustomer(_customerEntity.id)" class="btn btn-danger">Delete Customer</button>
                        <button @onclick="async() => ShowUpdateCommentPage(_customerEntity.id)" class="btn btn-warning">Update Comment</button>

                        if (_customerUrlEntity is null)
                        {
                            <button @onclick="async () => AddLinkPopUp()" class="btn btn-light">Add Link</button>
                        }
                        else
                        {
                            <button @onclick="async() => OpenLink()" class="btn btn-light">Nagios</button>
                        }
                    }
                    else if (@context.User.IsInRole("Users"))
                    {
                        <button @onclick="async() => ShowUpdateCommentPage(_customerEntity.id)" class="btn btn-warning">Update Comment</button>
                    }
                </Authorized>
            </AuthorizeView>

            @if (ShowPopup)
            {
                <!-- This is the popup to create or edit a user -->
                <div class="modal" tabindex="-1" style="display:block" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title"><dfn>Add Url link</dfn></h3>
                                <!-- Button to close the popup -->
                                <button type="button" class="close"
                                        @onclick="ClosePopup">
                                    <span aria-hidden="true">X</span>
                                </button>
                            </div>
                            <!-- Edit form for the current user -->
                            <div class="modal-body">
                                <!-- Only show Id if not a new user -->
                                @if (_customerUrlEntity.id != 0)
                                {
                                    <p>@_customerUrlEntity.id</p>
                                }
                                <!-- Only allow edit if a new user -->
                                @if (_customerUrlEntity.customerId != 0)
                                {
                                    <p>@_customerUrlEntity.customerId</p>
                                }
                                else
                                {
                                    <input class="form-control" type="text"
                                           placeholder="Url"
                                           @bind="_customerUrlEntity.link" />
                                }

                                <br /><br />
                                <!-- Button to save the user -->
                                <button class="btn btn-primary"
                                        @onclick="AddLink">
                                    Save
                                </button>
                                <!-- Only show delete button if not a new record -->
                                @if (_customerUrlEntity.id != 0)
                                {
                                    <!-- Button to delete the forecast -->
                                    <button class="btn btn-danger">
                                        Delete
                                    </button>
                                    @*@onclick= "DeleteUser"*@
                                }
                                <br />
                                <span style="color:red">@errorStr</span>
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>
        @if (ShowPopup)
        {

        }

        <MatList SingleSelection="true" TwoLine="true" @bind-value="@_customerFullDataModel.id">
            <div class="row">
                <div class="col-md-6">
                    <Field>
                        <FieldLabel>
                            @nameof(_customerFullDataModel.CustomerName)

                        </FieldLabel>
                        <Field><span style="color:green">@_customerFullDataModel.CustomerName</span></Field>
                    </Field>

                    <Field>
                        <FieldLabel>
                            Tell

                        </FieldLabel>
                        <Field><span style="color:green">@_customerFullDataModel.Tel</span></Field>
                    </Field>
                </div>
                <div class="col-md-6">
                    <Field>
                        <FieldLabel>
                            @nameof(_customerFullDataModel.Mobile)

                        </FieldLabel>
                        <Field><span style="color:green">@_customerFullDataModel.Mobile</span></Field>
                    </Field>

                    <Field>
                        <FieldLabel>
                            @nameof(_customerFullDataModel.OwnerTeam)
                        </FieldLabel>
                        <Field><span style="color:green">@_customerFullDataModel.OwnerTeam</span></Field>

                    </Field>
                </div>
            </div>
            <Divider Type="DividerType.Dotted" />
            <div class="row">
                <div class="col-md-3">
                    <Field>
                        <FieldLabel>
                            @nameof(_customerFullDataModel.ServiceType)
                        </FieldLabel>
                        <Field><span style="color:green">@_customerFullDataModel.ServiceType</span></Field>

                    </Field>

                    <Field>
                        <FieldLabel>
                            @nameof(_customerFullDataModel.ServiceTopology)
                        </FieldLabel>
                        <Field><span style="color:green">@_customerFullDataModel.ServiceTopology</span></Field>

                    </Field>
                </div>
                <div class="col-md-3">
                    <Field>
                        <FieldLabel>
                            @nameof(_customerFullDataModel.AccountManager)

                        </FieldLabel>
                        <Field><span style="color:green">@_customerFullDataModel.AccountManager</span></Field>
                    </Field>
                    <Field>
                        <FieldLabel>
                            @nameof(_customerFullDataModel.IpHQ)

                        </FieldLabel>
                        <Field><span style="color:green">@_customerFullDataModel.IpHQ</span></Field>
                    </Field>
                </div>
                <div class="col-md-3">
                    <Field>
                        <FieldLabel>
                            @nameof(_customerFullDataModel.AAAGroup)
                        </FieldLabel>
                        <Field><span style="color:green">@_customerFullDataModel.AAAGroup</span></Field>

                    </Field>
                    <Field>
                        <FieldLabel>
                            @nameof(_customerFullDataModel.IpTunnel)
                        </FieldLabel>
                        <Field><span style="color:green">@_customerFullDataModel.IpTunnel</span></Field>

                    </Field>
                </div>
                <div class="col-md-3">
                    <Field>
                        <FieldLabel>
                            @nameof(_customerFullDataModel.WanIpRange)
                        </FieldLabel>
                        <Field><span style="color:green">@_customerFullDataModel.WanIpRange</span></Field>

                    </Field>
                    <Field>
                        <FieldLabel>
                            @nameof(_customerFullDataModel.LanIpRange)
                        </FieldLabel>
                        <Field><span style="color:green">@_customerFullDataModel.LanIpRange</span></Field>

                    </Field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <Field>
                        <FieldLabel>
                            @nameof(_customerFullDataModel.VRF)
                        </FieldLabel>
                        <Field><span style="color:green">@_customerFullDataModel.VRF</span></Field>

                    </Field>
                    <Field>
                        <FieldLabel>
                            @nameof(_customerFullDataModel.VpnToolsName)
                        </FieldLabel>
                        <Field><span style="color:green">@_customerFullDataModel.VpnToolsName</span></Field>

                    </Field>
                </div>
                <div class="col-md-3">
                    <Field>
                        <FieldLabel>
                            @nameof(_customerFullDataModel.APN)
                        </FieldLabel>
                        <Field><span style="color:green">@_customerFullDataModel.APN</span></Field>

                    </Field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <h4>
                        @nameof(_customerFullDataModel.Comment)
                    </h4>
                    <textarea readonly class="block-with-text" cols="110" rows="30" dir="rtl" style="color:green;width:auto;overflow-y: scroll;">@_customerFullDataModel.Comment</textarea>
                </div>
            </div>
        </MatList>
        @if (_dev == null)
        {
            <p>No Devices Found for customer</p>
        }
        else
        {
            <br />
            <br />
            <h3>Main Radio :</h3>
            <div class="row">
                <div class="col-md-3">

                    <Field>
                        <FieldLabel>
                            @nameof(_dev.RadioName)
                        </FieldLabel>
                        <Field><span style="color:green">@_dev.RadioName</span></Field>

                    </Field>
                    <Field>
                        <FieldLabel>
                            @nameof(_dev.RadioIp)
                        </FieldLabel>
                        <Field><span style="color:green">@_dev.RadioIp</span></Field>

                    </Field>
                </div>
                <div class="col-md-3">
                    <Field>
                        <FieldLabel>
                            @nameof(_dev.RadioModel)
                        </FieldLabel>
                        <Field><span style="color:green">@_dev.RadioModel</span></Field>

                    </Field>
                    <Field>
                        <FieldLabel>
                            @nameof(_dev.RadioMetroSite)
                        </FieldLabel>
                        <Field><span style="color:green">@_dev.RadioMetroSite</span></Field>

                    </Field>
                </div>
            </div>



            <input type="hidden" @bind-value="@_customerEntity.id" />
            <h3>Backup Radio :</h3>
            @if (_devices == null)
            {
                <p>
                    No Extra Devices Found for customer
                </p>
            }
            else
            {
                @foreach (var item in _devices)
                {
                    <Card>
                        <div class="row">

                            <div class="col-md-3">
                                <h6>Radio Name:</h6>
                            </div>
                            <div class="col-md-7">
                                <h6><span style="color:green">@item.RadioName</span></h6>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h6>Radio IP:</h6>
                            </div>
                            <div class="col-md-6">
                                <h6><span style="color:green">@item.RadioIp</span></h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h6>
                                    Radio Metro Site:
                                </h6>
                            </div>
                            <div class="col-md-6">
                                <h6><span style="color:green">@item.RadioMetroSite</span></h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h6>
                                    Radio Model:
                                </h6>
                            </div>
                            <div class="col-md-6">
                                <h6><span style="color:green">@item.RadioModel</span></h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h6>
                                    Backup Activation:
                                </h6>
                            </div>
                            <div class="col-md-6">
                                <h6><span style="color:green">@item.IsAutomatic</span></h6>
                            </div>
                        </div>
                        <AuthorizeView>
                            <Authorized>
                                @if (@context.User.IsInRole(ADMINISTRATION_ROLE))
                                {
                                    <div class="row">
                                        <div class="col-md-2 float-right">
                                            <Button Color="Color.Success" Clicked="async () => ShowEditDevice(item.Id)">Edit</Button>
                                            <Button Color="Color.Danger" Clicked="async () => DeleteDevice(item.Id)">Delete</Button>
                                        </div>
                                    </div>
                                }
                            </Authorized>
                        </AuthorizeView>
                    </Card>

                }
                <!--<div class="mat-layout-grid mat-layout-grid-align-left">
                    <div class="mat-layout-grid-inner">
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">

                            <DataGrid TItem="DeviceList"
                                      Data="@_devices"
                                      ReadData="@OnInitializedAsync"
                                      TotalItems="@total" Editable="true" Sortable="true" Striped="true">-->
                @*<DataGridColumn TItem="Customers" Field="@nameof(Customers.RowNumber)" Caption="#" />*@

                <!--<DataGridColumn TItem="DeviceList" Field="@nameof(DeviceList.RadioName)" Caption="Backup Name" />
                                <DataGridColumn TItem="DeviceList" Field="@nameof(DeviceList.RadioIp)" Caption="Backup Ip" />
                                <DataGridColumn TItem="DeviceList" Field="@nameof(DeviceList.RadioModel)" Caption="Backup Model" />
                                <DataGridColumn TItem="DeviceList" Field="@nameof(DeviceList.RadioMetroSite)" Caption="Backup Metro Site" />
                                <DataGridColumn TItem="DeviceList" Field="@nameof(DeviceList.IsAutomatic)" Caption="Backup Activation" />
                                <DataGridColumn TItem="DeviceList" Field="@nameof(DeviceList.Id)" Caption="Action">
                                    <DisplayTemplate>
                                        <Button Color="Color.Success" Clicked="async() => ShowEditDevice(context.Id)">Edit</Button>
                                        <Button Color="Color.Danger" Clicked="async() => DeleteDevice(context.Id)">Delete</Button>
                                    </DisplayTemplate>
                                </DataGridColumn>

                            </DataGrid>
                        </div>

                    </div>
                </div>-->
            }


        }


    </div>
}






@code {


    [CascadingParameter] public IModalService Modal { get; set; }
    //[CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter] public int ID { get; set; }
    [Parameter] public int CustomerID { get; set; }
    Customers _customerModel;
    Customers _customerEntity = new Customers();
    CustomerUrl _customerUrlEntity = new CustomerUrl();

    Customers _customerFullDataModel = new Customers();
    List<DeviceList> _devices = new List<DeviceList>();
    DeviceList _dev = new DeviceList();
    DeviceList _devlist = new DeviceList();

    //DeviceList device = new DeviceList();
    string errorString;
    string ADMINISTRATION_ROLE = "Administrators";
    #region Pagination

    int _curPage;

    string _sortColumnName = "ID";
    string _sortDir = "DESC";

    #endregion

    int? total;

    bool ShowPopup = false;

    void ClosePopup()

    {

        // Close the Popup

        ShowPopup = false;
        errorStr = null;
        errorString = null;

    }
    async Task OpenAddDevice()
    {
        _devlist = new DeviceList();
        ShowPopup = true;

    }

    protected async Task CreateDevice(int id)
    {
        ShowPopup = false;
        _devlist.CustomerId = id;
        var state = await DeviceManager.AddDevice(_devlist, null);

        //NavigationManager.NavigateTo(uri: state != 0 ? "/Error" : "/customer" + "/" + id.ToString(), true);

    }
    public async Task NavigateToUrlAsync(string url, bool openInNewTab)
    {
        if (openInNewTab)
        {
            await JSRuntime.InvokeAsync<object>("open", url, "_blank");
        }
        else
        {
            this.NavigationManager.NavigateTo(url);
        }
    }
    protected async Task OpenLink()
    {
        NavigateToUrlAsync(_customerUrlEntity.link, true);

    }
    protected async Task AddLinkPopUp()
    {

        _customerUrlEntity = new CustomerUrl();
        ShowPopup = true;

    }
    string errorStr;
    protected async Task AddLink()
    {
        var check = await CUrlManager.GetMainUrlById(CustomerID);
        if (check?.customerId == null)
        {
            _customerUrlEntity.customerId = CustomerID;
           
            var urlState = await CUrlManager.AddUrl(_customerUrlEntity, 1);
            errorStr = null;
            ShowPopup = false;
        }
        else
        {
            errorStr = "link is exists";
        }


    }
    protected override async Task OnInitializedAsync()
    {
        try
        {
            _customerEntity = await CustomerManager.GetById(CustomerID);
            _customerUrlEntity = await CUrlManager.GetMainUrlById(CustomerID);
            _customerFullDataModel = await CustomerManager.GetById(CustomerID);
            _devices = await DeviceManager?.GetDeviceByCustomerId(CustomerID);
            _dev = await DeviceManager?.GetMainDeviceById(CustomerID);

            total = _devices?.Count();
            errorString = null;

        }
        catch (Exception ex)
        {
            errorString = $"Cannot Initialize the the page, {ex.Message}";
            //NavigationManager.NavigateTo(@"\Error", true);
        }
    }

    protected async Task ShowEditCustomer(int id)
    {

        //var parameters = new ModalParameters();
        //parameters.Add(nameof(EditCustomer.CustomerID), id);
        //parameters.Add(nameof(EditCustomer.CustomerID), CustomerID);
        //Modal.Show<EditCustomer>("Edit Customer", parameters);
        NavigationManager.NavigateTo("/EditCustomer" + "/" + CustomerID, true);
    }

    protected async Task ShowEditDevice(int id)
    {
        try
        {
            var parameters = new ModalParameters();
            parameters.Add(nameof(DeviceEdit.ID), id);
            //DeviceManager.GetDeviceById();
            Modal.Show<DeviceEdit>("Edit Device", parameters);
            errorString = null;

        }
        catch (System.Exception ex)
        {

            errorString = ex.Message;
        }

    }
    protected async Task ShowAddDevice(int id)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(DeviceAdd.CustomerID), id);

        Modal.Show<DeviceAdd>($"Add Device", parameters);
        //NavigationManager.NavigateTo($"/addDevice/{CustomerID}", false);
    }
    protected async Task UpdateCustomers(int id)
    {

        await CustomerManager.Update(_customerEntity);
        //await BlazoredModal.Close(ModalResult.Ok<Customers>(_customerEntity));
        //RefreshRecords(currentPage);
        NavigationManager.NavigateTo($"/customer/{CustomerID}", true);
    }
    protected async Task Deletecustomer(int id)
    {
        /* var parameters = new ModalParameters();
        parameters.Add(nameof(EditCustomer.CustomerID), id); */
        await CustomerManager.Delete(id);
        _customerModel = await CustomerManager.GetById(ID);
        NavigationManager.NavigateTo("/customerlist", true);
    }
    protected async Task ShowUpdateCommentPage(int id)
    {
        try
        {
            NavigationManager.NavigateTo("/customer" + "/" + id + "/" + "CostumerCommentEdit", true);
            errorString = null;

        }
        catch (Exception ex)
        {

            errorString = ex.Message;
        }
    }
    protected async Task DeleteDevice(int id)
    {
        await DeviceManager.Delete(id);
        NavigationManager.NavigateTo($"/customer/{CustomerID}", true);
    }

    async Task Cancel()
    {
        //await BlazoredModal.Cancel();
        NavigationManager.NavigateTo($"/customer/{CustomerID}", true);
    }
    private bool _isSortedAscending;
    private string _activeSortColumn;


    private async Task SortTable(string columnName)
    {
        if (columnName != _activeSortColumn)
        {
            //_customerModel = await SortRecords(columnName, "ASC");
            //_isSortedAscending = true;
            //_activeSortColumn = columnName;
        }
        else
        {
            if (_isSortedAscending)
            {
                //_customerModel = await SortRecords(columnName, "DESC");
            }
            else
            {
                //_customerModel = await SortRecords(columnName, "ASC");
            }

            _isSortedAscending = !_isSortedAscending;
        }
        _sortColumnName = columnName;
        _sortDir = _isSortedAscending ? "ASC" : "DESC";
    }

    private string SetSortIcon(string columnName)
    {
        if (_activeSortColumn != columnName)
        {
            return string.Empty;
        }
        if (_isSortedAscending)
        {
            return "fa-sort-up";
        }
        else
        {
            return "fa-sort-down";
        }
    }

    public async Task RefreshRecords(int currentPage)
    {
        _customerModel = await CustomerManager.GetById(ID);
        _curPage = currentPage;
        this.StateHasChanged();
    }




}
